# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
venv/
env/
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Data
data/
/data/
*.db
*.sqlite
*.sqlite3
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Secrets
.env
.env.*
